*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Inter';
    background-image: url(images/Rectangle1.png);
    background-size: 100%;
}
.header{
    margin: 0 auto;
    max-width: 1728px;
    
}
.logo-container{
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.logo-container:nth-child(2){
    
}

.search-container{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding-top: 42px;
    padding-right: 33px;
    padding-bottom: 60px;
    padding-left: 0px;

}
.data{
    color: #C8C8C8;
    font-size: 30px;
  
}