*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: 'Inter';
    background-image: url(images/Rectangle1.png);
    background-size: 100%;
}
.header{
    max-width: 1728px;
    padding-top: 70px;
    padding-right: 55px;
    padding-bottom: 115px;
    padding-left: 55px;
    display: flex;
    
}
.logo-container{
}

.search-container{
}
.data{
    color: #C8C8C8;
    font-size: 29px;
}
