html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: 'Philosopher';
}
.cover-container{
    background: linear-gradient( rgba(0, 0, 0, 0.60) 31.06%, #000 160%), url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
header{
    padding-left: 8.88rem;
    padding-right: 8.88rem;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18.88rem;
     .name{
        color: #FFF;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
     span{
        color: #F90;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
     }
    }
    .navigation{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        a{
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }
    }
    .navigation a:hover{
        color: #F90;
    }
        .propose{
            display: flex;
            align-items: center;
            color: #F90;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;            
        }
}
.cover-center{
    display: flex;
    flex-direction: row;
    gap: 11rem;
    padding-left: 11rem;
    padding-right: 11rem;
    padding-bottom: 22.88rem;
    .big-text{
        color: #FFF;
        text-align: right;
        font-size: 5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
            span{
                color: #F90;
                font-size: 5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;            
            }
   }
.cover-text{
    display: flex;
    flex-direction: column;
    .quote{
        color: #FFF;
        font-size: 2.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;  

    }
        .author{
            color: #F90;
            font-size: 2.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;  
            text-align: right;                  
        }    
    }
}
}
.story{
    padding-top: 7.5rem;
    padding-left: 7.88rem;
    padding-right: 7.88rem;
    padding-bottom: 11.81rem;
    background: #F6FDEE;
    .block-name-1{
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        margin-bottom: 4.38rem; 
        span{
            color: #F90;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;           
        }     
    }
    .story-content{
    display: grid;
    grid-template-columns: (30% 30% 30%);
    align-items: end;
    gap: 4.12rem;
    .pic{
        min-width: 150px;
    }
    .story-name{
        color: #F90;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        margin-top: 1.87rem;     
        margin-bottom: 1.19rem; 
    }
    .story-text{
        margin-bottom: 1.75rem;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;      
    }
    .story-name-center{
        color: #F90;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;       
        margin-bottom: 1.19rem;  
        text-align: center;       
    }
    .story-text-center{
        margin-bottom: 1.75rem;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;    
        text-align: center;
    }
}
   .button-story{
    margin-top: 2.19rem;
    display: flex;
    justify-content: flex-end;
    button{ 
     background: none;   
    border-style: none;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    border-bottom: 4px solid yellow;
    }
   }
}
.collection{
    background: #FFF;
    height: 100vh;
    .line-1{
        width: 100%; 
        border: 1px solid #F90;     
        position: relative;
        z-index: 1;
        margin-top: 16.61rem;
    }
    .line-2{
        width: 100%; 
        border: 1px solid #F90;     
        position: relative;
        z-index: 1;
        margin-top: 25.58rem;
    }
    .collection-main{
        padding-top: 7.5rem;
        padding-left: 2.88rem;
        padding-right: 2.88rem; 
        position: relative;   
        z-index: 2;   
        bottom: 750px;
    .block-name-2{
        color: #000;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        margin-bottom: 8.12rem;
        span{
            color: #F90;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;            
        }      
    }
    .hotel-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 1.88rem; 
    .hotel{
        height: 500px;
        img{
            position: relative;
            z-index: 2;         
        }
        .image-all{
            background: rgba(0, 0, 0, 0.40);
            position: relative;
            z-index: 3;
            height: 467px;
            bottom: 469px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end; 
            padding-left: 1.25rem;   
            padding-bottom: 4.38rem;  
            padding-right: 2.25rem;
            min-width: 360px;
            .city{
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-bottom: 2px solid yellow;
                width: 94px;
                margin-bottom: 1.25rem;
            }
            .city-text{
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;    
                width: 280px;         
            }
        }
    }


}
}
.button-hotel{
    text-align: right;
    padding-bottom: 3rem;
      button{
         border-style: none;
         background: none;
         color: #000;
         font-size: 1.5rem;
         font-style: normal;
         font-weight: 700;
         line-height: normal; 
         border-bottom: 4px solid yellow;  
}
}
}
.vintage{
    background: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 3.88rem;
    padding-right: 3.88rem; 
    padding-top: 7rem;
    overflow: hidden;
    .block-name-3{
        position: relative;   
        z-index: 10; 
        color: #000;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 5.44rem;
        
        span{
            color: #F90;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .vintage-name{
        position: relative;   
        z-index: 10; 
        color: #000;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;   
        margin-bottom: 1.48rem;
        span{
            color: #F90;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;            
        }     
    }
    .vintage-block{
    position: relative;   
    z-index: 10; 
    display: flex;   
    flex-direction: column;   
    width: 40%;
    margin-left: 50%;
    .vintage-text{
        position: relative;   
        z-index: 10; 
        color: #000;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;      
        margin-bottom: 1.19rem;
    }
    .vintage-button{
        position: relative;   
        z-index: 10; 
        display: flex;
        justify-content: flex-end;
       
        button{
        background: none;          
        position: relative;   
        z-index: 10;    
        border-style: none;
        color: #000;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
        border-bottom: 4px solid yellow;          
    }
}
    }
    .live-pic{
        position: relative;
        z-index: 1;
        animation-name: live-pic;
        animation-duration: 25s;
        animation-iteration-count: infinite;
    }
}
.diversity{
    background: #FFF;
    height: 150vh;
    .line-1{
        width: 100%; 
        border: 1px solid #F90;     
        position: relative;
        z-index: 1;
        margin-top: 16.61rem;
    }
    .line-2{
        width: 100%; 
        border: 1px solid #F90;     
        position: relative;
        z-index: 1;
        margin-top: 27.58rem;}
        .diversity-main{
            padding-top: 7.5rem;
            padding-left: 10.3rem;  
            padding-right: 10.3rem;
            position: relative;   
            z-index: 2;   
            bottom: 748px;
        .diversity-text{
            color: #000;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 3.13rem;    
            span{
                color: #F90;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;              
            }       
        }
        .photos{
            display: grid;
            grid-template-columns: 28% 26% 42%;
            gap: 1.25rem;
            align-items: end;
            .pic{
                min-width: 150px;
            }
            .column-1{
                display: grid;
                grid-template-rows: 36% 26% 26%;
                gap: 1.25rem;
                .row-1{
                    display: grid;
                    grid-template-columns: (1fr 1fr);
                    gap: 1.25rem;
                }
            }
            .column-3{
                display: grid;
                grid-template-rows: (49% 30%); 
                gap: 1.25rem; 
                .column-in{
                    display: grid;
                    grid-template-columns: (28% 30% 35%);
                    gap: 1.25rem;
                    .row-3{
                    gap: 1.25rem;
                    display: grid;
                    grid-template-rows: (54% 39%);
                    }
                }

            }
        }
        .button-diversity{
            margin-top: 2.19rem;
            display: flex;
            justify-content: flex-end; 
            button{
               background: none;          
               position: relative;   
               z-index: 10;    
               border-style: none;
               color: #000;
               font-size: 1.5rem;
               font-style: normal;
               font-weight: 700;
               line-height: normal; 
               border-bottom: 4px solid yellow;
            }          
        }
}
}
.awards{
    background: #F6FDEE;
    padding-top: 7.5rem;
    padding-left: 10.13rem;
    padding-right: 10.13rem;
    padding-bottom: 7.5rem;
 .pic{
min-width: 150px;
 }   
    .awards-name{
        color: #000;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        margin-bottom: 5.75rem;      
        span{
            color: #F90;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .awards-content{
        display: grid;
        grid-template-columns: 18% 36% 25%;
        gap: 7.56rem;
        align-items: end;
    }
}
.info{
        background: url(../images/bg3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 9rem 10.13rem;  
        .info-name{
            color: #000;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 7.5rem;
            span{
                color: #F90;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;                
            }
        }
        .info-block{
            display: flex;
            flex-direction: row;
            gap: 4.25rem;
            .block-name-4{
                color: #000;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;                
                span{
                    color: #F90;
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
                .info-all{
                 display: flex;
                 flex-direction: column;
                 gap: 3.88rem;
                 .info-top{
                    display: flex;
                    flex-direction: row;
                    gap: 4.25rem;
                    .office{
                        .office-name{
                            color: #000;
                            font-size: 1.875rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;  
                            margin-bottom: 2rem;                         
                        }
                        color: #000;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                 }
                 .info-bottom{
                    display: flex;
                    flex-direction: row;
                    gap: 4.37rem;
                    .office{
                        .office-name{
                            color: #000;
                            font-size: 1.875rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;  
                            margin-bottom: 2rem;                         
                        }
                        color: #000;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    .mail{

                    .mail-block{
                        color: #000;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal; 
                        margin-bottom: 2.38rem;                      
                    }
                    .mail-name{
                        color: #000;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;                       
                    }
                    .wright{
                        background: none;
                        width: 21rem;
                        border-style: none;             
                    }
                    .line{
                        background: #000;
                        width: 31rem;
                        height: 2px;
                        margin-bottom: 1.06rem;
                    }
                    .button-contact{
                        margin-top: 2.38rem;
                        display: flex;
                        justify-content: flex-end; 
                        button{
                           border-radius: 0.3125rem;
                           background: #F90;
                           color: #000;
                           font-size: 1.5rem;
                           font-style: normal;
                           font-weight: 700;
                           line-height: normal;    
                           padding: 0.75rem 2rem;
                           border-style: none;                                     
                     }
                 }
                }
                 
                }
            }
        }
@keyframes live-pic{
    0%{
    bottom: 50%;
    left: 100%;
    }
    10%{
    bottom:50%;
    left: 90%;
    }
    20%{
    bottom:40%;
    left: 80%;
    }
    30%{
    bottom: 60%;
     left: 70%;
    }
    40%{
     bottom: 30%;
     left: 60%;
    }
    50%{
      bottom: 50%;
      left: 50%;
    }
    60%{
        bottom: 20%;
        left: 40%;
    }
    70%{
        bottom: 50%;
        left: 30%;
    }
    80%{
        bottom: 30%;
        left: 20%;
    }
    90%{
        bottom:60%;
        left: 10%;
    }
    95%{
        bottom: 40%;
        left: 0%;
    }
    100%{
        bottom:50%;
        left: -100%;
    }
}
@media(max-width:1480px){
  .collection{
    height: 120vh;
    .collection-main{
        .hotel-row{
            flex-wrap: wrap;
            gap: 10rem;
            .hotel{
                .image-all{
                    height: 499px;
                    bottom: 502px;                   
                }
            }
        }
    }
  }
  .diversity{
    height: 60vh;
  }
}
@media(max-width:1400px){
    .diversity{
        height: 130vh;
        .diversity-main{
            padding-left: 6.3rem;
            padding-right: 6.3rem;
            .photos{
                grid-template-columns: 44% 40%;
                justify-content: center;
                .column-3{
                    justify-content: center;
                }
            }
        }
    }
}
@media(max-width:1255px){
.info{
    .info-block{
        .info-all{
            .info-top{
                flex-wrap: wrap;
            }
            .info-bottom{
                flex-direction: column;
            }
        }
    }
}
}
@media(max-width:1200px){
   .cover-container{ header{
        flex-direction: column;
         .name{
            text-align: center; 
        }
        .navigation{
            justify-content: center;
            margin-top: 2rem;
        }
            .propose{
           justify-content: center;
           margin-top: 2rem;
            }
    }
    .cover-center{
      gap: 5rem;  
    }
}
        
} 
@media(max-width:1100px){
    .cover-container{
        .cover-center{
            flex-direction: column;
            .big-text{
                text-align: center;
            }
        }
    }
}
@media(max-width:1013px){
    .story{
        .story-content{
            grid-template-columns: 50% 50%;           
        }
    }
}
@media(max-width:1005px){
      .collection{
        height: 240vh;
      }
      .awards{
        .awards-content{
            grid-template-columns: 29% 57%;
            justify-content: center;
        }
      }
}
@media(max-width:891px){
    .info{ 
        .info-name{
         text-align: center;
        }
        .info-block{
            justify-content: center;
            .block-name-4{
              text-align: center;                
            }
                .info-all{
                    justify-content: center;
                 .info-top{
                    text-align: center;
                    justify-content: center;
                    .office{
                        .office-name{
                        text-align: center;                        
                        }
                        color: #000;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                 }
                 .info-bottom{
                    text-align: center;
                    justify-content: center;
                    .office{
                        .office-name{
                          text-align: center;                        
                        }
                    }
                }
                 
                }
            }
        }   
@media(max-width:914px){
    .diversity{
        height: 250vh;
        .diversity-main{
            padding-left: 1.3rem;
    padding-right: 1.3rem;
            .photos{
                grid-template-columns: 56%;
            }
        }
    }
    .info{
        padding: 1rem;
        .info-block{
            flex-direction: column;
        }
    }
}
@media(max-width:600px){
    .cover-container{
    header{
        .navigation{
            gap: 1rem;
        }
    }
    .cover-center{
        .big-text{
            font-size: 4rem;
                span{
                    font-size: 4rem;            
                }
       }
    .cover-text{
        .quote{
            font-size: 1.125rem; 
        }
            .author{
                font-size: 1.125rem;                
            }    
        }
    }
    }
}
@media(max-width:550px){
    .cover-container{
        header{
            .navigation{
                flex-wrap: wrap;
            }
        }
        .cover-center{
            padding-left: 2rem;
            padding-right: 2rem;
            }
        }
        .story{
            padding-left: 4.88rem;
            padding-right: 4.88rem;
            .block-name-1{
                text-align: center;
            }
            .story-content{
                grid-template-columns: 100%;
                .story-name{
                    text-align: center;
                }
                .story-text{
                    text-align: center;
                }
            }
        }
        .collection{
            .collection-main{
                .block-name-2{
                    text-align: center;
                }
            }
            .button-hotel{
                padding-right: 2.4rem;
            }
        }
        .vintage{
            .block-name-3{
                text-align: center;
            }
            .vintage-block{
                text-align: center;
                margin: 0 auto;
                width: 100%;

            }
        }
        .diversity{
            height: 286vh;
            .diversity-main{
                .diversity-text{
                    text-align: center;
                }
            .photos{
                grid-template-columns: 100%;
                .column-3{
                    .column-in{
                        grid-template-columns: 46% 50%;
                        .row-3{
                            grid-template-rows: 56% 39%;
                        }
                    }
                }
            }
        }
 }
 .awards{
    padding-left: 2.1rem;
  padding-right: 2.13rem;
    .awards-name{
        text-align: center;
    }
    .awards-content{
        grid-template-columns: 100%;
    }
 }
 .info{  
    .info-block{
             .info-bottom{
                .mail{
                .wright{
                    width: 10rem;            
                }
                .line{
                    width: 21rem;
                }
            }
             
            }
        }
    }
}
@media(max-width:490px){
    .diversity{
        height: 250vh;
    }
}
@media(max-width:415px){
    .diversity{
        height: 212vh;
    }
}
@media(max-width:370px){
    .diversity{
        height: 189vh;
    }
}