html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: 'Philosopher';
}
.cover-container{
    background: linear-gradient( rgba(0, 0, 0, 0.60) 31.06%, #000 160%), url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
header{
    padding-left: 8.88rem;
    padding-right: 8.88rem;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18.88rem;
     .name{
        color: #FFF;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
     span{
        color: #F90;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
     }
    }
    .navigation{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        a{
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }
    }
    .navigation a:hover{
        color: #F90;
    }
        .propose{
            display: flex;
            align-items: center;
            color: #F90;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;            
        }
}
.cover-center{
    display: flex;
    flex-direction: row;
    gap: 11rem;
    padding-left: 11rem;
    padding-right: 11rem;
    padding-bottom: 22.88rem;
    .big-text{
        color: #FFF;
        text-align: right;
        font-size: 5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
            span{
                color: #F90;
                font-size: 5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;            
            }
   }
.cover-text{
    display: flex;
    flex-direction: column;
    .quote{
        color: #FFF;
        font-size: 2.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;  

    }
        .author{
            color: #F90;
            font-size: 2.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;  
            text-align: right;                  
        }    
    }
}
}
.story{
    padding-top: 7.5rem;
    padding-left: 8.88rem;
    padding-right: 8.88rem;
    padding-bottom: 11.81rem;
    background: #F6FDEE;
    .block-name-1{
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        margin-bottom: 4.38rem; 
        span{
            color: #F90;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;           
        }     
    }
    .story-content{
    display: grid;
    grid-template-columns: (28% 28% 28%);
    align-items: end;
    column-gap: 4.12rem;
    .story-name{
        color: #F90;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        margin-top: 1.87rem;     
        margin-bottom: 1.19rem; 
    }
    .story-text{
        margin-bottom: 1.75rem;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;   
        width: 300px;     
    }
    .story-name-center{
        color: #F90;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;       
        margin-bottom: 1.19rem;  
        text-align: center;       
    }
    .story-text-center{
        margin-bottom: 1.75rem;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;   
        width: 350px; 
        text-align: center;
    }
}
}
.collection{
    background: #FFF;
    height: 700px;
    .line-1{
        width: 100%; 
        border: 1px solid #F90;     
        position: relative;
        z-index: 1;
        margin-top: 16.61rem;
    }
    .line-2{
        width: 100%; 
        border: 1px solid #F90;     
        position: relative;
        z-index: 1;
        margin-top: 25.58rem;
    }
    .collection-main{
        padding-top: 7.5rem;
        padding-left: 3.88rem;
        padding-right: 3.88rem; 
        position: relative;   
        z-index: 2;   
        bottom: 750px;
    .block-name-2{
        color: #000;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        margin-bottom: 8.12rem;
        span{
            color: #F90;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;            
        }      
    }
    .hotel-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 1.88rem; 
    .hotel{
        height: 500px;
        img{
            position: relative;
            z-index: 2;         
        }
        .image-all{
            background: rgba(0, 0, 0, 0.40);
            position: relative;
            z-index: 3;
            width: 320px;
            height: 500px;
            bottom: 502px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end; 
            padding-left: 1.25rem;   
            padding-bottom: 4.38rem;  
            padding-right: 2.25rem;

            .city{
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-bottom: 2px solid yellow;
                width: 94px;
                margin-bottom: 1.25rem;
            }
            .city-text{
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;    
                width: 280px;         
            }
        }
    }


}
}
.button-hotel{
    text-align: right;
    padding-bottom: 3rem;
      button{
         border-style: none;
         background: #FFF;
         color: #000;
         font-size: 1.5rem;
         font-style: normal;
         font-weight: 700;
         line-height: normal; 
         border-bottom: 4px solid yellow;  
}
}
}
.vintage{
    background: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 3.88rem;
    padding-right: 3.88rem; 
    padding-top: 7rem;
    .block-name-3{
        position: relative;   
        z-index: 10; 
        color: #000;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 5.44rem;
        
        span{
            color: #F90;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .vintage-name{
        position: relative;   
        z-index: 10; 
        color: #000;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;   
        margin-bottom: 1.48rem;
        span{
            color: #F90;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;            
        }     
    }
    .vintage-block{
    position: relative;   
    z-index: 10; 
    display: flex;   
    flex-direction: column;   
    width: 40%;
    margin-left: 50%;
    .vintage-text{
        position: relative;   
        z-index: 10; 
        color: #000;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;      
        margin-bottom: 1.19rem;
    }
    .vintage-button{
        position: relative;   
        z-index: 10; 
        display: flex;
        justify-content: flex-end;
       
        button{
            background: none;          
         position: relative;   
         z-index: 10;    
        border-style: none;
        color: #000;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
        border-bottom: 4px solid yellow;          
    }
}
    }
    .live-pic{
        position: relative;
        z-index: 1;
        animation-name: live-pic;
        animation-duration: 25s;
        animation-iteration-count: infinite;
    }
}
.diversity{
    background: #FFF;
    height: 700px;
    .line-1{
        width: 100%; 
        border: 1px solid #F90;     
        position: relative;
        z-index: 1;
        margin-top: 16.61rem;
    }
    .line-2{
        width: 100%; 
        border: 1px solid #F90;     
        position: relative;
        z-index: 1;
        margin-top: 25.58rem;}
        .diversity-main{
            padding-top: 7.5rem;
            padding-left: 10.3rem;  
            position: relative;   
            z-index: 2;   
            bottom: 650px;   
        .diversity-text{
            color: #000;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 3.13rem;    
            span{
                color: #F90;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;              
            }       
        }
        .photos{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .column-1{
                display: grid;
                grid-template-rows: (2fr 1fr 1fr);
            }
            .column-3{
                display: grid;
                grid-template-rows: (2fr 1fr 1fr);    
            }
        }
}
}


@keyframes live-pic{
    0%{
    bottom: 50%;
    left: 100%;
    }
    10%{
    bottom:50%;
    left: 90%;
    }
    20%{
    bottom:40%;
    left: 80%;
    }
    30%{
    bottom: 60%;
     left: 70%;
    }
    40%{
     bottom: 30%;
     left: 60%;
    }
    50%{
      bottom: 50%;
      left: 50%;
    }
    60%{
        bottom: 20%;
        left: 40%;
    }
    70%{
        bottom: 50%;
        left: 30%;
    }
    80%{
        bottom: 30%;
        left: 20%;
    }
    90%{
        bottom:60%;
        left: 10%;
    }
    95%{
        bottom: 40%;
        left: 0%;
    }
    100%{
        bottom:50%;
        left: -100%;
    }
}