:root{
    --main-font: 'Open Sans';
    --second-font: 'BebasNeueBold';
}
html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;   
}
.cover-container{
    background: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cover{

    .logo{
        
    }
    .first-text{
        color: #FFF;
        text-align: center;
        font-family: var(--second-font);
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.35681rem;
    }
    .second-text{
        color: #FFF;
        text-align: center;
        font-family: var(--main-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .third-text{
        color: #FFF;
        text-align: center;
        font-family: var(--main-font);
        font-size: 0.6875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.23125rem;
    }
    
}
