html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;   
}

.cover{
    height: 95vh;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
