:root{
    --main-font: 'Open Sans';
    --second-font: 'BebasNeueBold';
}
html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;   
}
.cover-container{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cover{

    .logo{
       padding-top: 2.56rem;
       max-width: 100px;
       min-width: 100px;
       margin: 0 auto;
       margin-bottom: 19.81rem;
    }
    .first-text{
        color: #FFF;
        text-align: center;
        font-family: var(--second-font);
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.35681rem;
    }
    .second-text{
        color: #FFF;
        text-align: center;
        font-family: var(--main-font);
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 13.81rem;
    }
    .third-text{
        color: #FFF;
        text-align: center;
        font-family: var(--main-font);
        font-size: 0.6875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.23125rem;
        padding-bottom: 4.44rem;
    }
}
header{
    border: 1px solid #E6E6E6;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 1.5rem;
    padding-bottom: 1.44rem;
    nav{
        display: flex;
        gap: 2.44rem;
       a{
        color: #48555B;
        text-align: center;
        font-family: var(--main-font);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.091px;
        text-decoration: none;
       }
}
nav a:hover{
    color: #00A4E5;
   }
}
.story{
    background-color: #FFF;
    width: 65%;
    margin: 0 auto;
    padding-top: 3.56rem;
    margin-bottom: 7.44rem;
    .block-name-1{
        color: #48555B;
        text-align: center;
        font-family: var(--main-font);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.14413rem;   
        padding-bottom: 0.62rem;
    }
    .line{
        width: 50px;
        border-top: 2px solid ;
        color: #00A4E5;
        margin: 0 auto;
    }
    .story-content{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: (1fr 1fr);
        column-gap: 78px;
    .block-text{
    .story-text-bold{
        color: #48555B;
        font-family: var(--main-font);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.01175rem;
        margin-bottom: 1.87rem;
        span{
            color: #16ACE8;
            font-family: var(--main-font);
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.01063rem;            
        }
    }
    .story-text{
        color: #48555B;
        font-family: OpenSans;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4375rem;
        letter-spacing: 0.01175rem;
    }}
    .pics{
        display: grid;
        grid-template-columns: 140px 140px 140px;
        column-gap: 20px;
        position: relative;
        z-index: 1;
        align-items: center;
        p{
            color: #FFF;
            font-family: var(--main-font);
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: 29px;
            letter-spacing: 0.188px;
            position: relative;
            z-index: 2;
            bottom: 200px;
            left: 14px;
        }
    }
}
}
.capabilities{
    background-color: #FFF;
    display: grid;
    grid-template-columns: (1fr 2fr);
    width: 65%;
    margin: 0 auto;
    margin-bottom: 4.87rem;
.left-block{
    .block-name-2{
        color: #48555B;
        font-family: var(--main-font);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.14413rem;
        padding-bottom: 0.62rem;
    }
     .line{
      width: 50px;
      border-top: 2px solid ;
      color: #00A4E5;
}
}
.right-block{
    display: grid;
    grid-template-columns: (69% 25%);
    column-gap: 1.97rem;
      .capabilities-text{
      color: #48555B;
      font-family: var(--main-font);
      font-size: 0.6875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.1875rem; 
      letter-spacing: 0.0125rem;
}
      button{
        color: #FFF;
        text-align: center;
        font-family: var(--main-font);
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03125rem;
        background: #00A4E5;
        border-style: none;
        height: 40px;
}
}
}
.info-blocks{
    width: 65%;
    margin: 0 auto;
    padding-bottom: 7.19rem;
    display: flex;
    flex-direction: row;
    gap: 1.69rem;
    .block{
        border: 1px solid #E6E6E6;
        background: #FFF;
        width: 31%;
        padding-top: 2.37rem;
        padding-left: 1.38rem;
        padding-right: 2.44rem;
        padding-bottom: 1.44rem;
        .block-img{
           margin-bottom: 1.56rem;
        }
        .block-name{
            color: #48555B;
            font-family: var(--main-font);
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5rem;
            letter-spacing: 0.02669rem;
            margin-bottom: 0.81rem;
        }
        .block-text{
            color: #48555B;
            font-family: var(--main-font);
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.4375rem;
            letter-spacing: 0.01175rem;
        }
    }
}
.propose{
    background-image: url(../img/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 7.5rem;
    padding-bottom: 14.44rem;
    .propose-text{
        text-align: center;
        color: #48555B;
        font-family: var(--main-font);
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.25rem;
        letter-spacing: 0.00938rem;
        margin-bottom: 2.19rem;
    }
    button{
        margin: 0 auto;
        color: #FFF;
        text-align: center;
        font-family: var(--main-font);
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03125rem; 
        background: #00A4E5;
        border-style: none;
        padding: 0.69rem 1.69rem;
    }
}
.sighn-up{
    background: #171819;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.87rem;
    padding-bottom: 1.81rem;
    gap: 4.38rem;
    .sighn-up-text{
        color: #FFF;
        font-family: var(--main-font);
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.05288rem;
        display: flex;
        align-items: flex-end;
    }
    .input{
        display: flex;
        flex-direction: row;
        .email{
            color: #48555B;
            font-family: var(--main-font);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.00438rem;          
            background: #FFF;
            border: 1px solid #979797;
            padding-top: 0.69rem;
            padding-bottom: 0.69rem;
            padding-left: 1rem;
            width: 15rem;
            height: 2.5rem;
        }
        .button-email{
            color: #FFF;
            font-family: var(--main-font);
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.03125rem;     
            background: #00A4E5;
            border-style: none;
            padding: 0.69rem 3.03rem;
        }
    }
}
footer{
        background: #141A20;
        .footer-main{
            padding-top: 2.62rem;
            padding-bottom: 3.12rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
      .company{ 
          display: flex;
          flex-direction: column;
          width: 17%;
        .company-name{
                color: #FFF;
                font-family: var(--main-font);
                font-size: 0.6875rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.05288rem;     
                margin-bottom: 1.19rem; 
            }
            .company-text{
                margin-top: 0.94rem;
                color: #FFF;
                font-family: var(--main-font);
                font-size: 0.6875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.1875rem;
                letter-spacing: 0.05313rem;
            }
        }
        .links{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            .column{
                display: flex;
                flex-direction: column;
                .links-name{
                    color: #FFF;
                    font-family: var(--main-font);
                    font-size: 0.6875rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.05288rem;
                }
                 a{
                 text-decoration: none;
                 color: #FFF;
                 font-family: var(--main-font);
                 font-size: 0.6875rem;
                 font-style: normal;
                 font-weight: 600;
                 line-height: 1.5625rem;
                 letter-spacing: 0.05288rem;                
                 }
            }
        }
        .contacts{
            .contacts-name{
                color: #FFF;
                font-family: var(--main-font);
                font-size: 0.6875rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.05288rem; 
                margin-bottom: 0.94rem;               
            }
            .contacts-text{
                color: #FFF;
                font-family: var(--main-font);
                font-size: 0.6875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1rem;
                letter-spacing: 0.05288rem;
            }
        }
        .social{
            display: flex;
            flex-direction: row;
            gap: 1.56rem;
        }
    }
    }
@media(max-width:1115px){
        .story{
            .story-content{
                display: block;
                .block-text{
                    text-align: center;
                }
                .pics{
                    justify-content: center;
                    margin-top: 1rem;
                }
            }
        }
    }
@media(max-width:1040px){
    header{
        padding-left: 10rem;
        padding-right: 10rem;
    }
        .capabilities{
            .right-block{
                column-gap: 0.97rem;
            }
        }
}
@media(max-width:970px){
    .capabilities{
        display: block;
        text-align: center;
        .line{
            margin: 0 auto;
        }
        .right-block{
            margin-top: 1rem;
        }
    }
}
@media(max-width:920px){
    .cover{
        .first-text{
            font-size: 2rem;
        }
        .second-text{
            font-size: 14px;
        }
    }
    footer{
        .footer-main{
            width: 80%;
        }
    }
}
@media(max-width:830px){
    header{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .info-blocks{
        flex-direction: column;
        .block{
            width: 100%;
            text-align: center;
}
    }
    footer{
        .footer-main{
            flex-direction: column;
            .company{
                width: 100%;
                text-align: center;
            }
            .links{
                margin-top: 2rem;
                text-align: center;
                justify-content: center;
            }
            .contacts{
                margin-top: 2rem;
                text-align: center;
            }
            .social{
                justify-content: center ;
                margin-top: 2rem;
            }
        }
    }
}
@media(max-width:700px){
    .sighn-up{
        gap: 2rem;
        .sighn-up-text{
            font-size: 15x;
        }
        .input{
            .email{
                width: 13rem;
                height: 2rem;
            }
            .button-email{
                font-size: 13px;
                padding: 0px;
            }
        }
    }
}
@media(max-width:670px){
    header{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width:550px){
    .sighn-up{
        flex-direction: column;
        justify-content: center;
        .sighn-up-text{
            justify-content: center;
        }
        .input{
            justify-content: center;
        }
    }
}
@media(max-width:540px){
    header{
        nav{
            gap: 1rem;
        }
    }
}
@media(max-width:500px){
    .capabilities{
        .right-block{
    display: flex;
    align-items: center;
        }
    }
}
@media(max-width:437px){
    header{
      flex-direction: column;
      .logo-black{
        text-align: center;
      }
        nav{
            margin-top: 10px;
            justify-content: center;
    }
}
    .story{
        .story-content{
            .pics{
         display: flex;
         flex-wrap: wrap;
            }
        }
    }
    .capabilities{
        .right-block{
            flex-direction: column;
            button{
                margin-top: 10px;
            }

        }
    }
}